header  a {
     text-decoration: none;
 }
 header{
    box-shadow: rgb(102 102 102) 0 -2px 9px 0px;
    background-color: var(--main-background-color); 
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo-box img {
    height: 70px;
}

header .nav-btn {
    display: none;
}

header .nav-links {
    display: inline;
    font-size: 18px;
}
header .nav-links a {
    padding:  21px 20px ;
    font-weight: bold;
    color: #666;
}
header .nav-links a:hover {
   background-color: #f0f0f0;
}
header #nav-check {
    display: none;
  }

@media (max-width:767px) {
    header .nav-btn {
        display: flex;
        position: absolute;
        right: 10px;
    }

    header .nav-btn span {
        display: block;
        width: 30px;
        height: 10px;
        border-top: 2px solid rgb(0, 0, 0);
    }
    header  .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color:var(--main-background-color);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 73.39px;
        left: 0px;
      }
      header  .nav-links a {
        display: block;
      }

      header  #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }

      header .container  #nav-check:checked ~ .nav-links {
        height: calc(100vh - 73px);
        overflow-y: auto;
      }
}
