
/* Start Content */
.content {
    padding: 100px 0;
}
.content .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr ));
    gap: 30px;
}
.content .container .card {
    background-color: #fafafa;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.content .container .card:hover {
    transform: translateY(-10px);
}
.content .container .card img{
    width: 100%;
    height: 200px;
}
@media (max-width: 767px) {
    .content .container .card img{
        height: 250px;
    }
}
@media (max-width: 560px) {
    .content .container .card {
        max-width:310px;
        margin: 0 auto;
    }
}

.content .container .card h2 {
    padding: 15px 10px;
}
.content .container .card p {
    color: #666;
    padding: 0 10px;
    line-height: 1.4;
    padding-bottom: 20px;
}
.content .container .card a {
    background-color: #eee;
    padding:10px ;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}
.content .container .card a:hover {
    background-color:#ddd;
    color: var(--main-color-hover);
}

/* End Content */
/* Start Pages number */
.pages .container{
    display: flex;
    padding-bottom:100px;
    justify-content: center;
}
.pages ul {
    display: flex;
    list-style: none;
}
.pages ul li a {
    padding:10px 15px;
    background-color: #dadada;
    border-radius: 5px;
    margin-left: 10px;
    display: block;
    color: #303030;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}
.pages ul li a:hover {
    background-color:rgb(190, 190, 190);
}
.pages ul li a.active{
    background-color: #303030;
    color: #dadada;
}
.pages ul  .dots {
    padding: 10px 0;
    transform: translateX(3px);
}
.pages ul li a.button {
    background-color: var(--main-color);
    color: white;
}
.pages ul li a.button:hover {
    background-color: var(--main-color-hover);
}




