
.landing .container {
    height: calc(100vh - 74px);
    display: flex;
    align-items: center ;
    justify-content: center;
}
.landing .container .box {
    background-color: #eee;
    width: 50%;
    transform: translateY(-50px);
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.landing .container .box h1 {
    color: var(--main-color);
    font-size: 40px;
    text-transform: capitalize;
}
.landing .container .box p {
    color: #555;
    font-size: 18px;
}
.landing .container .box p a {
    color: var(--main-color);
    transition: 0.3s;
    font-weight: bold;
}
.landing .container .box p a:hover {
    color: var(--main-color-hover);
}
@media (max-width: 767px) {
    .landing .container .box {
        width: 99%;
        padding: 50px 5px;
    }
    .landing .container .box h1 {
        font-size: 27px;
    }
    .landing .container .box p {
        font-size: 15px;
    }
}